In [1]:
import pandas as pd

In [2]:
pres = pd.read_csv(r"C:\Users\jmill\Documents\Presidents data\Presidents_final.csv")
pres.head() #this is the same as pres[:5]

,President,Birth Date,Party,Term Start,Term End,Age,State,Sign
0,George Washington,"February 22, 1732",None,1789,1797,57,Virginia,Pisces
1,John Adams,"October 30, 1735",Federalist,1797,1801,61,Massachusetts,Scorpio
2,Thomas Jefferson,"April 13, 1743",Democratic-Republican,1801,1809,57,Virginia,Aries
3,James Madison,"March 16, 1751",Democratic-Republican,1809,1817,57,Virginia,Pisces
4,James Monroe,"April 28, 1758",Democratic-Republican,1817,1825,58,Virginia,Taurus

In [15]:
t=pres.dtypes

In [17]:
t['President'].name

'object'

In [20]:
pres.columns.tolist()

['President',
 'Birth Date',
 'Party',
 'Term Start',
 'Term End',
 'Age',
 'State',
 'Sign']

In [22]:
pres['President'].dtypes.name

'object'

In [23]:
pres.dtypes

President     object
Birth Date    object
Party         object
Term Start     int64
Term End       int64
Age            int64
State         object
Sign          object
dtype: object

In [24]:
pres.infer_objects()

AttributeError: 'DataFrame' object has no attribute 'infer_objects'

In [7]:
party_count = pres['Party'].value_counts()
party_count

Republican               18
Democratic               13
Democratic-Republican     4
Whig                      4
Democrat                  2
None                      1
Federalist                1
National Union            1
Name: Party, dtype: int64

In [8]:
pres.loc[pres['Party'] == 'Democrat']

,President,Birth Date,Party,Term Start,Term End,Age,State,Sign
7,Martin Van Buren,"December 5, 1782",Democrat,1837,1841,54,New York,Sagittarious
43,Barack Obama,"August 4, 1961",Democrat,2009,2017,47,Hawaii,Leo

In [10]:
pres['Party'].replace("Democrat", "Democratic", True)
party_count = pres['Party'].value_counts()
party_count

Republican               18
Democratic               15
Democratic-Republican     4
Whig                      4
None                      1
Federalist                1
National Union            1
Name: Party, dtype: int64

In [21]:
pres['Birth Date'] = pd.to_datetime(pres['Birth Date'],format='%B %d, %Y')
pres.dtypes

President             object
Birth Date    datetime64[ns]
Party                 object
Term Start             int64
Term End               int64
Age                    int64
State                 object
Sign                  object
dtype: object

In [22]:
pres.head()

,President,Birth Date,Party,Term Start,Term End,Age,State,Sign
0,George Washington,1732-02-22,None,1789,1797,57,Virginia,Pisces
1,John Adams,1735-10-30,Federalist,1797,1801,61,Massachusetts,Scorpio
2,Thomas Jefferson,1743-04-13,Democratic-Republican,1801,1809,57,Virginia,Aries
3,James Madison,1751-03-16,Democratic-Republican,1809,1817,57,Virginia,Pisces
4,James Monroe,1758-04-28,Democratic-Republican,1817,1825,58,Virginia,Taurus